body{
    font-family: Arial, Helvetica, sans-serif;
}
#result{
    
    font-size:large;
    text-align:justify;
   
}
.alert{
    color: blueviolet;
}
.eg{
    color:green;
}
.noteg{
    color:red
}
.borderRed{
    border: 1px solid red;
}
.borderGreen{
    border: 1px solid rgb(57, 219, 57);
}
.borderBlack{
    border: 1px solid;
}